aiofiles==24.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
brotli==1.2.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
defusedxml==0.7.1
-e git+https://github.com/Jumpat/SegAnyGAussians.git@4acdaa6ba1a8801bd6ac479cb0b9ece653d44f0e#egg=diff_gaussian_rasterization&subdirectory=submodules/diff-gaussian-rasterization
-e git+https://github.com/Jumpat/SegAnyGAussians.git@4acdaa6ba1a8801bd6ac479cb0b9ece653d44f0e#egg=diff_gaussian_rasterization_contrastive_f&subdirectory=submodules/diff-gaussian-rasterization_contrastive_f
-e git+https://github.com/Jumpat/SegAnyGAussians.git@4acdaa6ba1a8801bd6ac479cb0b9ece653d44f0e#egg=diff_gaussian_rasterization_depth&subdirectory=submodules/diff-gaussian-rasterization-depth
fastapi==0.132.0
ffmpeg-python==0.2.0
ffmpy==1.0.0
filelock==3.20.0
fonttools==4.61.1
fsspec==2025.12.0
ftfy==6.3.1
fused_ssim @ file:///orcd/scratch/orcd/010/zhanghy/zhanghy/guide-3d/gaussian-splatting/submodules/fused-ssim
future==1.0.0
gradio==6.6.0
gradio_client==2.1.0
groovy==0.1.2
h11==0.16.0
hdbscan==0.8.41
hf-xet==1.2.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.4.1
hydra-core==1.3.2
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
iopath==0.1.10
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
-e git+https://github.com/luca-medeiros/lang-segment-anything@918043ed4666eea04da88aa179eb8d27ef4b1a1d#egg=lang_sam
litserve==0.2.17
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.3.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
open_clip_torch==3.2.0
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
orjson==3.11.7
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==3.0.1
pillow==12.0.0
plyfile==1.1.3
portalocker==3.2.0
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
pyDeprecate==0.4.0
pydub==0.25.1
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytorch3d==0.7.8
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
regex==2026.2.19
requests==2.32.5
rich==14.3.3
safehttpx==0.1.7
safetensors==0.7.0
SAM-2 @ git+https://github.com/facebookresearch/segment-anything-2@c2ec8e14a185632b0a5d8b161928ceb50197eddc
scikit-learn==1.8.0
scipy==1.17.0
-e git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf#egg=segment_anything
semantic-version==2.10.0
shellingham==1.5.4
simple_knn @ file:///orcd/scratch/orcd/010/zhanghy/zhanghy/guide-3d/SegAnyGAussians/submodules/simple-knn
six==1.17.0
starlette==0.52.1
streamlit==1.52.0
supervision==0.27.0.post1
sympy==1.13.1
threadpoolctl==3.6.0
timm==1.0.24
tokenizers==0.22.2
tomlkit==0.13.3
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.3
transformers==5.2.0
triton==3.1.0
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
